# Ignore build artifacts
/build/
/build-win/
/build-linux/
/build-coverage/
/bin/
*.o
*.ayn
*.exe
*.msi
*wixpdb
/site
/artifacts/
samples/_tmp_*
samples/apps/_tmp_*
samples/**/*.exe

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
/dist
